@import url(font-awesome.css);
@import url(foundation.css);

/* Fix foundation bug where <p> in <th> (instead of <td>) have a bottom margin  */
table.tableblock th .paragraph:last-child p, table.tableblock th > p:last-child { margin-bottom: 0; }

/* Make <th> distinct from a <td>  */
table.tableblock th > p { color: #222222; font-weight: bold; }

.hljs {
	background: none !important;
}

pre code.hljs {
	padding: 0px !important;
}

.nowrap {
    text-wrap: nowrap;
}

#toc {
    background: #eee;
}

.sectlevel1 > li > a {
    font-size: 110%;
    font-weight: bold;
}

.sectlevel3 li > a {
    font-size: 85%;
}

ul > li p {
  margin-bottom: 0;
}

#toc.autotoc li li a {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#toc.autotoc a {
    display: block;
    padding-left: .5em;
}

#toc.autotoc .toc-active {}

#toc.autotoc .toc-highlight > a {
    background: #e0e0e0;
    border-radius: .3em;
}

#toc.autotoc li.toc-active > a,
#toc.autotoc li.toc-active > ul > li > a{
    max-height: 2em;
}