<script src="jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(function () {
        'use strict';
        
        var offsetList = [];
        var docSize = 0;
        var current = -1;

        var updateOffsets = function() {
            var h = $(document).height();
            if(h == docSize) return;
            docSize = h;
            offsetList.length = 0;
            $("h1,h2,h3,h4,h5").each(function(){
                if(!this.id)
                    return;
                var link = $('#toc a[href="#'+ this.id +'"]')
                if(link.length != 1)
                    return;
                offsetList.push([$(this).offset().top, this.id, link]);
            });
            offsetList.sort(function(a,b){return a[0]-b[0]});
        }

        updateOffsets();
        setInterval(updateOffsets, 1000);

        function findCurrentHeader(base, scroll) {
            base = Math.max(0, Math.min(base, offsetList.length-1));
            while(base + 1 < offsetList.length
                && scroll > offsetList[base][0])
                base += 1;
            while(base > 0 && scroll < offsetList[base][0])
                base -= 1;
            return base;
        }

        var selector = '#toc li';
        var onScroll = function() {
            var scroll = $(document).scrollTop();
            var cc = findCurrentHeader(current, scroll+10);
            if(cc != current) {
                var last = offsetList[current];
                var next = offsetList[cc];
                if(last !== undefined)
                    last[2].parents(selector)
                       .removeClass("toc-active toc-highlight");
                next[2].parents(selector).addClass("toc-active");
                next[2].parent(selector).addClass("toc-highlight");
                
                current = cc;
                console.log(last, next)
            }
        }

        onScroll();
        $(document).on('scroll', onScroll);
        
        var enabled = false;

        var handleTocOnResize = function() {
            console.log($(window).width());
            var shouldEnable = $(window).width() > 1280;
            if (!shouldEnable && enabled) {
                $('#toc').removeClass("autotoc")
                $(document).off('scroll', onScroll);
                enabled = false;
            } else if(shouldEnable && !enabled) {
                $(document).on('scroll', onScroll);
                $('#toc').addClass("autotoc")
                enabled=true;
            }
        }

        handleTocOnResize();
        $(window).on('resize', handleTocOnResize);

    });
</script>
