<#include "HTML_head.html">
<div id="default_warning" class="alert fade in" style="display: none;">
</div>
<!-- /warning content container -->

<h1>CDSTAR is running now</h1>

<button class="btn btn-primary" onclick="createObject(); false"><span class="glyphicon glyphicon-plus-sign"></span> Create Object</button>

<!-- /object_display content container -->

<!-- /container -->

<#include "stateflags.html">
<#include "HTML_tail.html">

