[#ftl] [#include "HTML_head.html"]

<div id="default_warning" class="alert fade in" style="display: none;">
</div>
<!-- /warning content container -->

<div id="content_object">
	<h1>
		CDStar Object <small> ${obj.uid} (${obj.type})</small>
	</h1>

	<div class="row">
		<div class="col-md-8">
			<table class="table table-hover table-condensed">
				<tbody>
					<tr>
						<th>UID</th>
						<td><code>${obj.uid}</code></td>
					</tr>
					<tr>
						<th>Type</th>
						<td>${obj.type}</td>
					</tr>
					<tr>
						<th>Owner</th>
						<td>${obj.permissions.owner}</td>
					</tr>
					<tr>
						<th>Created</th>
						<td>${obj.created?datetime}</td>
					</tr>
					<tr>
						<th>Last Modified</th>
						<td>${obj.lastModified?datetime}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-lock"></span> Permissions
				</div>
				<div class="panel-body">
					<p>
						The object is owned by <strong>${obj.permissions.owner}</strong>
						and the following permissions apply:
					</p>
				</div>

				<table class="table table-hover table-condensed">
					<tbody>
						<tr>
							<th>read</th>
							<td>${obj.permissions.read?join(", ")}</td>
						</tr>
						<tr>
							<th>write</th>
							<td>${obj.permissions.write?join(", ")}</td>
						</tr>
						<tr>
							<th>manage</th>
							<td>${obj.permissions.manage?join(", ")}</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>

	<h2>
		Metadata <span class="pull-right glyphicon glyphicon-tags"></span>
	</h2>

	<form id="metadataForm">
	  <div class="form-group">
	    <textarea id="metaData" class="form-control" rows="6" placeholder="No metadata present">${metadata!""}</textarea>
	  </div>
	  <div class="form-group">
	    <button id="metadataBtnReset" type="reset" class="btn btn-default">Reset</button>
	    <button id="metadataBtnSubmit" type="submit" class="btn btn-primary" disabled>Save</button>
	    <span class="text-danger"></span>
	  </div>
	</form>

	<script type="text/javascript">
	    jQuery(function(){
	    	var txt = jQuery('#metaData'),
	    		grp = txt.parent(),
			    err = jQuery("#metadataForm .text-danger");
	    
			txt.keyup(function(e){
				grp.removeClass("has-success");
				try {
					JSON.parse(txt.val());
					grp.removeClass("has-error");
					err.text("");
					jQuery("#metadataBtnSubmit").attr('disabled', false);
				} catch (e) {
					err.text(e.message);
					grp.addClass("has-error");
					jQuery("#metadataBtnSubmit").attr('disabled', true);
				}
			});
			
			jQuery("#metadataForm").submit(function(e) {
				e.preventDefault();
				jQuery.ajax({
					method: "POST",
					url: "${baseurl}${vault}/metadata/${obj.uid}",
					data: txt.val(),
					contentType: "application/json; charset=utf-8",
					dataType : "json",
					success : function(data) {
						jQuery("#metadataBtnSubmit").attr('disabled', true);
						grp.addClass("has-success");
					},
					error : function(err) {
						var ctype = err.getResponseHeader('Content-Type');
						if (ctype.toLowerCase() == "application/json") {
							var data = jQuery.parseJSON(err.responseText)
							if (data.hasOwnProperty('reason')) {
								showModal("Sorry!", data.reason);
								return;
							}
						}
						alert('Service temporarily not available. Please try again later.');
					}
				})
			})
	    })
	</script>
	<div id="metaEditor"></div>

	[#if obj.collection??]
	<h2>
		References <span class="pull-right glyphicon glyphicon-folder-open"></span>
	</h2>

	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Target</th>
			</tr>
		</thead>
		[#list obj.collection as name]
		<tr>
			<td>${name}</td>
			<td><a href="${baseurl}${vault}/landing/${name}"
				target="_blank">${name}</a>
			</td>
		</tr>
		[/#list]
	</table>
	
	[#else]
	  <i>No references present</i>
	[/#if]

	<h2>
		Attachments <span class="pull-right glyphicon glyphicon-folder-open"></span>
	</h2>

	[#if obj.bitstream??]
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>DL</th>
				<th>Name</th>
				<th>Mime Type</th>
				<th class="hidden-xs">Last Modfied</th>
				<th class="hidden-xs hidden-sm">Checksum</th>
				<th>Size</th>
			</tr>
		</thead>
		[#list obj.bitstream as file]
		<tr>
			<td><input type="checkbox" value="${file.bitstreamid}" /></td>
			<td><a href="${baseurl}${vault}/bitstreams/${obj.uid}/${file.bitstreamid}"
				target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a>
			</td>
			<td>${file.bitstreamid}</td>
			<td>${file.contentType}</td>
			<td class="hidden-xs">${file.lastModified?datetime}</td>
			<td class="hidden-xs hidden-sm"><code>${file.checksumAlgorithm}:${file.checksum}</code></td>
			<td>${file.filesize} Bytes</td>
		</tr>
		[/#list]
	</table>
	
	[#else]
	  <i>No attachments present</i>
	[/#if]

</div>
<!-- / content container -->

<div class="progress" id="uploadProgress">
  <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
</div>
<div id="dropzone" class="well">Drop files here</div>
<input id="fileupload" type="file" name="bitstreams"
	data-url="${baseurl}/bitstreams/${obj.uid}" multiple>



<script src="${baseurl}/_assets/js/jquery.ui.widget.js"></script>
<script src="${baseurl}/_assets/js/jquery.iframe-transport.js"></script>
<script src="${baseurl}/_assets/js/jquery.fileupload.js"></script>
<script>
	$(function() {
		$('#fileupload').fileupload({
			dataType : 'json',
			sequentialUploads : true,
			dropZone : $('#dropzone'),
			submit: function() {
				$('#uploadProgress').show();
			},
			done : function(e, data) {
				location.reload();					
			},
			progressall : function(e, data) {
				var progress = parseInt(data.loaded / data.total * 100, 10);
				var str = progress + "%"
				$('#uploadProgress .progress-bar').css('width', progress + '%').text(str);
			}
		});
	});
</script>

[#include "stateflags.html"] [#include "HTML_tail.html"]

