{% for id, dt in api.data.items() | sort -%}
[[{{id}}]]
## {{id}}

{{dt.help|default("_No description_")}}

.Field list for <<{{id}}>>
[cols="0h,0v,1a"]
|======
| Field | Type | Description
{% for name, q in dt.fields.items() %}
| {{name}}
| {{q.type|default('string')}}
| {{q.help|default("_No description_")}}
{% endfor -%}
|======

{% if dt.example %}
.Example for <<{{id}}>>
```json
{{dt.example|json(indent=2)}}
```
{% endif %}

{% endfor %}
