{% for groupname, group in api.endpoints.items() -%}

[[{{groupname}}]]
## {{group.title|default(groupName)}}

{{group.help|default("#_No description_#")}}

{% for routename, route in group.routes.items() -%}

[[{{routename}}]]
### {{route.title|default(routename)}}

++++
{% for path in route.path|list %}
<div style="margin: .5em 0; border: 1px solid lightgrey; line-height: 2em">
<b style="padding: 0 .5em; margin: 1px; background: lightgrey; height: 100%; display: inline-block;">{{route.method}}</b>
<code>/v3{{path|sub("\\{([^}]+)\\}","<span class=\"red\">{\\1}</span>")}}</code>
<b style="float: right; margin: 0 .5em">HTTP/1.1</b>
</div>
{% endfor %}
++++

{% if route.beta %}WARNING: This endpoint is marked as *unstable* and is subject to change.{% endif %}
{% if route.consumes %}NOTE: This endpoint consumes: `+{{route.consumes|list|join('+`, `+')}}+`{% endif %}
{% if route.produces %}NOTE: This endpoint produces: `+{{route.produces|list|join('+`, `+')}}+`{% endif %}


{{route.help|default("#_No description_#")}}

{% if route.changelog %}
.API Changes
{% for version, help in route.changelog.items() -%}
* Changed in `v{{version}}`: {{help}}
{% endfor %}
{% endif %}

{% macro paramRow(name, param) -%}
| {{name}}
| {{param.type|default('string')}}
| {%if param.required%}(*required*) {%endif%}{{param.help|default("#_No description_#")}}{% if param.default %}

*Default:* `{{param.default|json}}`{% endif %}{% if param.example %}

*Example:* +
  `{{param.example.strip().split("\n")|join("` +\n  `")}}`
{% endif %}
{%- endmacro %}

{% if route.params%}
.Query Parameters
[cols="0h,0v,1a"]
|======
| Name | Type | Description
{% for name, param in route.params.items() %}
{{paramRow(name, param)}}
{% endfor -%}
|======
{% endif %}

{% if route.forms%}
.Form Parameters
[cols="0h,0v,1"]
|======
| Name | Type | Description
{% for name, param in route.forms.items() %}
{{paramRow(name, param)}}
{% endfor -%}
|======
{% endif %}

{% if route.body%}
.Request Body (<<{{route.body}}>>)
[cols="0h,0v,1"]
|======
| Field | Type | Description
{% for name, q in api.data[route.body].fields.items() %}
| {{name}} | {{q.type|default('string')}} | {{q.help|default("_No description_")}}
{% endfor -%}
|======


{% endif %}

{% if route.results %}

.Response Codes
[cols="0h,0,1"]
|======
| Status | Response | Description
{% for rs in route.results %}
| {{rs.code}} | {{rs.type|default("-")}} | {{rs.help|default("#_No description_#")}}
{% endfor %}
|======

{% endif %}

{% endfor %}
{% endfor %}
