.HTTP Endpoints: Overview
[cols="0,0v,1v"]
|======
| Title | Method | URI Path

{% for groupname, group in api.endpoints.items() -%}

3+h|{{group.title|default(groupName)}}

{% for routename, route in group.routes.items() -%}
{% for path in [route.path|list|first] -%}
| [.nowrap]#<<{{routename}},{{route.title|default(routename)}}>>#
| `*{{route.method}}*`
| `+/v3{{path}}+`
{% endfor -%}
{% endfor -%}

{% endfor -%}
|======

